$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("/flowers-shop/fonts/iconfont.woff") format("woff"), url("/flowers-shop/fonts/iconfont.ttf") format("truetype");
}


body {
	background-color: #fff !important;
}
